@import "tailwindcss";

/**Colores*/
@theme{
  --color-primary: #ffffff;
  --color-secondary: #c1ff1a;
};


/**Tipografias*/
@theme{
   --font-montserrat: "Montserrat", sans-serif;
   --font-poppins: "Poppins", sans-serif;
};

/**reseteo*/
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
